body{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.01em;
    font-family: Open Sans;
    font-style: normal;
    line-height: 160%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'EB Garamond', serif;
    letter-spacing: -0.03em;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

h1{
    font-size: var(--font-title-size);
    line-height: var(--font-title-line-height);
    margin: 0 0 3rem;  
}

h2{
    font-size: var(--font-title1-size);
    line-height: var(--font-title1-line-height);
    
}
.main-cta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000000;
    color: #E8E7E5;
    padding: 10px 45px;
    margin: 0 8px 8px 0;
    text-decoration: none;
    box-shadow: 2.09548px 1.04774px 4.71483px rgba(255, 255, 255, 0.05);
    border-radius: 2px;
    font-weight: 600;
}
.secondary-cta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #E8E7E5;
    color: #014E78;
    padding: 10px 45px;
    margin: 0 8px 8px 0;
    text-decoration: none;
    box-shadow: 2.09548px 1.04774px 4.71483px rgba(255, 255, 255, 0.05);
    border-radius: 2px;
    font-weight: 600;
}
.blue-cta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 45px;
    background: linear-gradient(90deg, #014E78 -0.12%, #09B7E0 100.12%);
    box-shadow: 2.61935px 1.30968px 5.89354px rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.black-bg{
    background: #1C1C1C;
    color: white;
  }
.text-center{
    text-align: center;
}
.px-64{
    padding: 64px 0;
}
.px-32{
    padding: 32px 0;
}